Repository okta/okta-signin-widget, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta, @nikhilvenkatraman-okta, @zihanwang-okta, @mauriciocastillosilva-okta

.github/CODEOWNERS:

# Description:
#  Code ownership file for the okta/okta-signin-widget GitHub repository for mapping resources to teams.
#  See [CODEOWNERS] for details.
#
#   TODO: Instead of listing out owners by their GitHub handle,
#         we should leverage the [Widget] team. See: OKTA-366873
#
# Resources
#  - [CODEOWNERS] https://help.github.com/articles/about-codeowners
#  - [Widget] https://github.com/orgs/okta/teams/widget-contributors/members

#   FIXME: revert codeowners before merging back to main branch
*    @glenfannin-okta @leemchale-okta @lesterchoi-okta @shawyu-okta @shuowu-okta

# Localization: pseudo-loc, i18n, etc.
packages/@okta/pseudo-loc/    @nikhilvenkatraman-okta @zihanwang-okta
packages/@okta/i18n/          @nikhilvenkatraman-okta @mauriciocastillosilva-okta @zihanwang-okta
test/testcafe/spec-en-leaks/  @nikhilvenkatraman-okta @zihanwang-okta

# SIW Next (v3)
src/v3/                       @glenfannin-okta @leemchale-okta @lesterchoi-okta @shawyu-okta @shuowu-okta

lint fix
  src/v3/src/components/Widget/index.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-518959 : Identify unknown user spec test update (#2867)
  test/testcafe/framework/page-objects/IdentityPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/IdentifyUnknownUser_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

use auth-js.polyfill from npm
  test/app/index.hbs
  test/app/package.json
  test/app/webpack.config.js
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

close script tag
  test/app/index.hbs
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

emtpy commit
  README.md
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit 7dcfc8ffccdcd7701f05a6e197f8bffa1e86170a in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit 7dcfc8ffccdcd7701f05a6e197f8bffa1e86170a in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

install node 14 for auth-js-v7
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit 7dcfc8ffccdcd7701f05a6e197f8bffa1e86170a in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

install node 14
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Updating spec to match parity with v3
  test/testcafe/spec/FailureRedirect_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit 35dc4a03afd16020f3a1bbc73a1b0dbbd7c44341 in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Creates downstream build for dockolith (#2868)
  scripts/downstream/create-downstream-for-dockolith.sh
  scripts/monolith/install-dockolith.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Move custom checkbox logic
  src/v2/ion/ui-schema/ion-boolean-handler.js
  src/v2/view-builder/views/consent/GranularConsentView.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Add granular consent view on OIE
  assets/sass/modules/_consent.scss
  packages/@okta/i18n/src/properties/login.properties
  packages/@okta/i18n/src/properties/login_ok_PL.properties
  playground/mocks/config/responseConfig.js
  playground/mocks/data/idp/idx/consent-granular.json
  src/v2/ion/RemediationConstants.js
  src/v2/ion/ui-schema/ion-boolean-handler.js
  src/v2/view-builder/ViewFactory.ts
  src/v2/view-builder/components/ScopeCheckBox.js
  src/v2/view-builder/internals/BaseForm.ts
  src/v2/view-builder/views/consent/GranularConsentView.js
  test/testcafe/framework/page-objects/ConsentPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/GranularConsentView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta, @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta

downstream test 3
  scripts/monolith/install-dockolith.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fixes dockolith downstream build script
  scripts/monolith/install-dockolith.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

downstream test 4
  scripts/monolith/install-dockolith.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fix: jQuery for CVE-2020-11023
  .retireignore.json
  packages/@okta/courage-dist/esm/src/courage/vendor/lib/jquery-1.12.4.js
  packages/@okta/courage-dist/esm/src/courage/views/components/Notification.js
  packages/@okta/courage-for-signin-widget/package.json
  packages/@okta/courage-for-signin-widget/yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

chore: bump version to 6.8.3
  README.md
  package.json
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

chore: bump version to 6.8.3
  README.md
  package.json
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fix: jQuery for CVE-2020-11023
  .retireignore.json
  packages/@okta/courage-dist/esm/src/courage/vendor/lib/jquery-1.12.4.js
  packages/@okta/courage-dist/esm/src/courage/views/components/Notification.js
  packages/@okta/courage-for-signin-widget/package.json
  packages/@okta/courage-for-signin-widget/yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit fb491f6fdd6d3358d3f6322999f1e8746c7b4194 in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit fb491f6fdd6d3358d3f6322999f1e8746c7b4194 in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

granular consent siw classic
  packages/@okta/i18n/src/properties/login.properties
  packages/@okta/i18n/src/properties/login_ok_PL.properties
  playground/mocks/data/api/v1/authn/consent-required-granular.json
  src/v1/controllers/ConsentRequiredController.js
  src/v1/views/consent/ScopeCheckBox.js
  test/testcafe/spec/v1/GranularConsentView_spec.js
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta, @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

granular consent siw oie
  assets/sass/modules/_consent.scss
  packages/@okta/i18n/src/properties/login.properties
  packages/@okta/i18n/src/properties/login_ok_PL.properties
  playground/mocks/config/responseConfig.js
  playground/mocks/data/idp/idx/consent-granular.json
  src/v2/ion/RemediationConstants.js
  src/v2/view-builder/ViewFactory.ts
  src/v2/view-builder/components/ScopeCheckBox.js
  src/v2/view-builder/internals/BaseForm.ts
  src/v2/view-builder/views/consent/GranularConsentView.js
  test/testcafe/framework/page-objects/ConsentPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/GranularConsentView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta, @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta

granular consent siw classic
  packages/@okta/i18n/src/properties/login.properties
  packages/@okta/i18n/src/properties/login_ok_PL.properties
  playground/mocks/data/api/v1/authn/consent-required-granular.json
  src/v1/controllers/ConsentRequiredController.js
  src/v1/views/consent/ScopeCheckBox.js
  test/testcafe/spec/v1/GranularConsentView_spec.js
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta, @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Update e2e-monolith.sh
  scripts/e2e-monolith.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

downstream test 5
  scripts/monolith/install-dockolith.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

chore: update resolutions for subdeps of jest
  package.json
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

chore: update dev-dependency webpack-dev-server
  package.json
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

test auth-js polyfill
  test/app/package.json
  test/app/src/util.ts
  test/app/webpack.config.js
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit 7dcfc8ffccdcd7701f05a6e197f8bffa1e86170a in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit e3690bccc38d38e98b43049aa001a59ee6c44606 in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit 2825e827bcbb24ab94a9229bff862155f7eff055 in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit 81c111560eaca4aad7973a6558a7f9290bf12f2c in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

updated to latest courage
  packages/@okta/courage-dist/esm/src/courage/models/SchemaProperty.js
  packages/@okta/courage-dist/esm/src/courage/vendor/lib/jquery-1.12.4.js
  packages/@okta/courage-dist/esm/src/courage/vendor/plugins/chosen.jquery.js
  packages/@okta/courage-for-signin-widget/package.json
  packages/@okta/courage-for-signin-widget/yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit 81c111560eaca4aad7973a6558a7f9290bf12f2c in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit 81c111560eaca4aad7973a6558a7f9290bf12f2c in artifact okta-auth-js
  scripts/setup.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

verify polyfill copying works correctly
  test/app/src/util.ts
  test/app/webpack.config.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta
