Repository okta/okta-signin-widget, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta, @nikhilvenkatraman-okta, @zihanwang-okta, @mauriciocastillosilva-okta

.github/CODEOWNERS:

# Description:
#  Code ownership file for the okta/okta-signin-widget GitHub repository for mapping resources to teams.
#  See [CODEOWNERS] for details.
#
#   TODO: Instead of listing out owners by their GitHub handle,
#         we should leverage the [Widget] team. See: OKTA-366873
#
# Resources
#  - [CODEOWNERS] https://help.github.com/articles/about-codeowners
#  - [Widget] https://github.com/orgs/okta/teams/widget-contributors/members

#   FIXME: revert codeowners before merging back to main branch
*    @glenfannin-okta @leemchale-okta @lesterchoi-okta @shawyu-okta @shuowu-okta

# Localization: pseudo-loc, i18n, etc.
packages/@okta/pseudo-loc/    @nikhilvenkatraman-okta @zihanwang-okta
packages/@okta/i18n/          @nikhilvenkatraman-okta @mauriciocastillosilva-okta @zihanwang-okta
test/testcafe/spec-en-leaks/  @nikhilvenkatraman-okta @zihanwang-okta

# SIW Next (v3)
src/v3/                       @glenfannin-okta @leemchale-okta @lesterchoi-okta @shawyu-okta @shuowu-okta

use classic flow for v1 test
  test/app/src/TestApp.ts
  test/e2e/steps/given.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

do not include OktaSignIn library into polyfill
  webpack.common.config.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Add granular consent view on OIE
  assets/sass/modules/_consent.scss
  packages/@okta/i18n/src/properties/login.properties
  packages/@okta/i18n/src/properties/login_ok_PL.properties
  playground/mocks/config/responseConfig.js
  playground/mocks/data/idp/idx/consent-granular.json
  src/v2/ion/RemediationConstants.js
  src/v2/ion/ui-schema/ion-boolean-handler.js
  src/v2/view-builder/ViewFactory.ts
  src/v2/view-builder/components/ScopeCheckBox.js
  src/v2/view-builder/internals/BaseForm.ts
  src/v2/view-builder/views/consent/GranularConsentView.js
  test/testcafe/framework/page-objects/ConsentPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/GranularConsentView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta, @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta

Move custom checkbox logic
  src/v2/ion/ui-schema/ion-boolean-handler.js
  src/v2/view-builder/views/consent/GranularConsentView.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Select Authenticator Enroll and verify spec test updates
  playground/mocks/config/responseConfig.js
  src/v3/src/components/AuthCoin/AuthCoin.tsx
  src/v3/src/components/AuthCoin/__snapshots__/AuthCoin.test.tsx.snap
  src/v3/src/transformer/selectAuthenticator/__snapshots__/utils.test.ts.snap
  src/v3/src/transformer/selectAuthenticator/utils.ts
  src/v3/test/integration/__snapshots__/authenticator-verification-select-authenticator.test.tsx.snap
  test/testcafe/framework/page-objects/BasePageObject.js
  test/testcafe/framework/page-objects/FactorEnrollPasswordPageObjectV3.js
  test/testcafe/framework/page-objects/SelectAuthenticatorPageObject.js
  test/testcafe/framework/page-objects/SelectAuthenticatorPageObjectV3.js
  test/testcafe/framework/page-objects/TerminalPageObjectV3.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/framework/page-objects/components/BaseFormObjectV3.js
  test/testcafe/spec/SelectAuthenticatorForEnroll_spec.js
  test/testcafe/spec/SelectAuthenticatorForVerification_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Snapshot update
  src/v3/test/integration/__snapshots__/authenticator-verification-select-authenticator.test.tsx.snap
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Resetting response config changes
  playground/mocks/config/responseConfig.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Adding form assertion to prevent test flakiness
  test/testcafe/spec/SelectAuthenticatorForEnroll_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

applying fix for flaky test
  test/testcafe/spec/SelectAuthenticatorForEnroll_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Adding unit test for changes made to support spec parity test
  src/v3/src/transformer/selectAuthenticator/__snapshots__/utils.test.ts.snap
  src/v3/src/transformer/selectAuthenticator/utils.test.ts
  src/v3/src/transformer/selectAuthenticator/utils.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Adding jira ticket number to type issue
  src/v3/src/transformer/selectAuthenticator/utils.test.ts
  src/v3/src/transformer/selectAuthenticator/utils.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Changing getfactor function for v3 to grab by role
  test/testcafe/framework/page-objects/SelectAuthenticatorPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

PR Feedback updates
  test/testcafe/framework/page-objects/SelectAuthenticatorPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/Identify_spec.js
  test/testcafe/spec/SelectAuthenticatorForEnroll_spec.js
  test/testcafe/spec/Success_spec.js
  test/testcafe/spec/TerminalView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Fixing switch authenticator button function
  test/testcafe/framework/page-objects/BasePageObject.js
  test/testcafe/framework/page-objects/SelectAuthenticatorPageObject.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fixes OIDC test for e2e-monolith
  scripts/monolith/create-testenv.sh
  test/e2e/steps/after.ts
  test/e2e/steps/given.ts
  test/e2e/support/management-api/deleteUserAndCredentials.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit e300210f9e078e1c38f4abf0af80e6ca061c254a in artifact dockolith
  scripts/monolith/install-dockolith.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Downstream Artifact Test for commit e300210f9e078e1c38f4abf0af80e6ca061c254a in artifact dockolith
  scripts/monolith/install-dockolith.sh
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Fixing multiple error box spec
  src/v3/src/transformer/messages/transform.ts
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/Identify_spec.js
  test/testcafe/spec/TerminalView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

undo polyfill change
  webpack.common.config.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

more precise targeting of polyfill bundle
  webpack.common.config.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

reload page when config area element is not found
  test/e2e/page-objects/test-app.page.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

go to app root on config editor not found
  test/e2e/page-objects/test-app.page.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

use existing page object method to reload page
  test/e2e/page-objects/test-app.page.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

new commit to rerun sauce
  test/e2e/page-objects/test-app.page.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

select default flow
  test/e2e/page-objects/test-app.page.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

new commit to rerun sauce
  test/e2e/page-objects/test-app.page.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Update title text property
  packages/@okta/i18n/src/properties/login.properties
  packages/@okta/i18n/src/properties/login_ok_PL.properties
  src/v2/view-builder/views/consent/GranularConsentView.js
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta, @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Add granular consent view on OIE (#2545)
  assets/sass/modules/_consent.scss
  packages/@okta/i18n/src/properties/login.properties
  packages/@okta/i18n/src/properties/login_ok_PL.properties
  playground/mocks/config/responseConfig.js
  playground/mocks/data/idp/idx/consent-granular.json
  src/v2/ion/RemediationConstants.js
  src/v2/view-builder/ViewFactory.ts
  src/v2/view-builder/components/ScopeCheckBox.js
  src/v2/view-builder/internals/BaseForm.ts
  src/v2/view-builder/views/consent/GranularConsentView.js
  test/testcafe/framework/page-objects/ConsentPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/GranularConsentView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta, @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta

Add granular consent view on Classic
  packages/@okta/i18n/src/properties/login.properties
  packages/@okta/i18n/src/properties/login_ok_PL.properties
  playground/mocks/data/api/v1/authn/consent-required-granular.json
  src/v1/controllers/ConsentRequiredController.js
  src/v1/views/consent/ScopeCheckBox.js
  test/testcafe/spec/v1/GranularConsentView_spec.js
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta, @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Update FF check and test type
  src/v1/controllers/ConsentRequiredController.js
  test/testcafe/spec/v1/GranularConsentView_spec.js
  test/unit/helpers/dom/GranularConsentRequiredForm.js
  test/unit/helpers/util/Expect.js
  test/unit/helpers/xhr/GRANULAR_CONSENT_REQUIRED.js
  test/unit/spec/v1/GranularConsentRequired_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Update title text property
  packages/@okta/i18n/src/properties/login.properties
  packages/@okta/i18n/src/properties/login_ok_PL.properties
  src/v1/controllers/ConsentRequiredController.js
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta, @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Add granular consent view on Classic (#2875)
  packages/@okta/i18n/src/properties/login.properties
  packages/@okta/i18n/src/properties/login_ok_PL.properties
  playground/mocks/data/api/v1/authn/consent-required-granular.json
  src/v1/controllers/ConsentRequiredController.js
  src/v1/views/consent/ScopeCheckBox.js
  test/unit/helpers/dom/GranularConsentRequiredForm.js
  test/unit/helpers/util/Expect.js
  test/unit/helpers/xhr/GRANULAR_CONSENT_REQUIRED.js
  test/unit/spec/v1/GranularConsentRequired_spec.js
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta, @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

updated spec test for parity
  test/testcafe/framework/page-objects/BasePageObject.js
  test/testcafe/spec/RequestActivationEmail_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

added custom transformer for request activation
  src/v3/src/transformer/layout/idxTransformerMapping.ts
  src/v3/src/transformer/layout/recovery/index.ts
  src/v3/src/transformer/layout/recovery/transformRequestActivation.ts
  src/v3/src/transformer/messages/transform.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

added unit and integration test
  playground/mocks/config/responseConfig.js
  src/v3/src/transformer/layout/recovery/transformRequestActivation.test.ts
  src/v3/test/integration/__snapshots__/request-activation-email.test.tsx.snap
  src/v3/test/integration/request-activation-email.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fixed click activation button function
  test/testcafe/framework/page-objects/RequestActivationEmailPageObject.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

integration test change
  src/v3/test/integration/__snapshots__/request-activation-email.test.tsx.snap
  src/v3/test/integration/request-activation-email.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update snapshot
  src/v3/test/integration/__snapshots__/request-activation-email.test.tsx.snap
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-518972 : Request activation email spec test update (#2878)
  playground/mocks/config/responseConfig.js
  src/v3/src/transformer/layout/idxTransformerMapping.ts
  src/v3/src/transformer/layout/recovery/index.ts
  src/v3/src/transformer/layout/recovery/transformRequestActivation.test.ts
  src/v3/src/transformer/layout/recovery/transformRequestActivation.ts
  src/v3/src/transformer/messages/transform.ts
  src/v3/test/integration/__snapshots__/request-activation-email.test.tsx.snap
  src/v3/test/integration/request-activation-email.test.tsx
  test/testcafe/framework/page-objects/BasePageObject.js
  test/testcafe/framework/page-objects/RequestActivationEmailPageObject.js
  test/testcafe/spec/RequestActivationEmail_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

wip
  test/testcafe/spec/Interact_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta
