Repository okta/okta-signin-widget, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta, @nikhilvenkatraman-okta, @zihanwang-okta, @mauriciocastillosilva-okta

.github/CODEOWNERS:

# Description:
#  Code ownership file for the okta/okta-signin-widget GitHub repository for mapping resources to teams.
#  See [CODEOWNERS] for details.
#
#   TODO: Instead of listing out owners by their GitHub handle,
#         we should leverage the [Widget] team. See: OKTA-366873
#
# Resources
#  - [CODEOWNERS] https://help.github.com/articles/about-codeowners
#  - [Widget] https://github.com/orgs/okta/teams/widget-contributors/members

#   FIXME: revert codeowners before merging back to main branch
*    @glenfannin-okta @leemchale-okta @lesterchoi-okta @shawyu-okta @shuowu-okta

# Localization: pseudo-loc, i18n, etc.
packages/@okta/pseudo-loc/    @nikhilvenkatraman-okta @zihanwang-okta
packages/@okta/i18n/          @nikhilvenkatraman-okta @mauriciocastillosilva-okta @zihanwang-okta
test/testcafe/spec-en-leaks/  @nikhilvenkatraman-okta @zihanwang-okta

# SIW Next (v3)
src/v3/                       @glenfannin-okta @leemchale-okta @lesterchoi-okta @shawyu-okta @shuowu-okta

lint fix
  src/v3/src/components/ImageWithText/ImageWithText.tsx
  src/v3/src/transformer/yubikey/transformYubikeyOtpAuthenticator.test.ts
  src/v3/src/transformer/yubikey/transformYubikeyOtpAuthenticator.ts
  src/v3/test/integration/authenticator-enroll-yubikey-otp.test.tsx
  src/v3/test/integration/authenticator-verification-yubikey-otp.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

resolve qs@^6.11.0
  package.json
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

resolve minimatch@^3.1.2
  package.json
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-497409: resolve axios@^0.27.2 (#2681)
  package.json
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

resolve qs@^6.11.0
  package.json
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-542531: resolve minimatch@^3.1.2 (#2909)
  package.json
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

adds polyfill for find-index
  polyfill/index.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-482853: resolve qs@^6.11.0 (#2908)
  package.json
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fixed console authenticator methodType
  src/v3/src/util/getAuthenticatorMethod.ts
  src/v3/src/util/getEventContext.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

updated spec test for parity
  test/testcafe/framework/page-objects/YubiKeyAuthenticatorPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/AuthenticatorYubikeyView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fix: adds polyfill for find-index
  README.md
  package.json
  polyfill/README.md
  polyfill/index.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fix: adds findIndex to IE11 polyfill (#2912)
  README.md
  package.json
  polyfill/README.md
  polyfill/index.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

lint ignore
  src/v3/src/util/getAuthenticatorMethod.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

edit
  src/v3/src/transformer/yubikey/transformYubikeyOtpAuthenticator.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update comment
  src/v3/src/util/getAuthenticatorMethod.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

added yubikey responses to config
  playground/mocks/config/responseConfig.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

added ticket # to comment
  src/v3/src/util/getAuthenticatorMethod.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Force failure redirect even with direct auth (testing only)
  src/v2/ion/responseTransformer.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

initial commit to add transport and clientExtensionResults to enrollment response.
  playground/mocks/data/idp/idx/authenticator-enroll-webauthn.json
  src/v1/controllers/EnrollWebauthnController.js
  src/v2/view-builder/views/webauthn/EnrollWebauthnView.js
  test/unit/spec/v1/EnrollWebauthn_spec.js
  test/unit/spec/v2/view-builder/views/EnrollWebauthnView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Remove failing test
  test/testcafe/spec/FailureRedirect_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

revert response config
  playground/mocks/config/responseConfig.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

added alignment prop
  src/v3/src/components/ImageWithText/ImageWithText.tsx
  src/v3/src/transformer/yubikey/transformYubikeyOtpAuthenticator.ts
  src/v3/src/types/schema.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

re-used v2 response mocks
  src/v3/src/mocks/response/idp/idx/authenticator-enroll-yubikey.json
  src/v3/src/mocks/response/idp/idx/authenticator-verification-yubikey.json
  src/v3/test/integration/authenticator-enroll-yubikey-otp.test.tsx
  src/v3/test/integration/authenticator-verification-yubikey-otp.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

updated yubikey svg
  src/v3/src/img/yubikeyDemo.svg
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

updated courage with password box changes for spellcheck
  packages/@okta/courage-dist/esm/src/courage/views/forms/inputs/PasswordBox.js
  packages/@okta/courage-for-signin-widget/package.json
  packages/@okta/courage-for-signin-widget/yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

lint fix
  src/v3/test/integration/authenticator-enroll-yubikey-otp.test.tsx
  src/v3/test/integration/authenticator-verification-yubikey-otp.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

updated unit test
  src/v3/src/transformer/yubikey/__snapshots__/transformYubikeyOtpAuthenticator.test.ts.snap
  src/v3/src/transformer/yubikey/transformYubikeyOtpAuthenticator.test.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

added index parameter
  src/v3/src/util/getAuthenticatorMethod.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

reverted to getErrorBoxText method with workaround
  test/testcafe/framework/page-objects/YubiKeyAuthenticatorPageObject.js
  test/testcafe/spec/AuthenticatorYubikeyView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

lint fix
  src/v3/src/util/getAuthenticatorMethod.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

removed unnecessary methods
  test/testcafe/framework/page-objects/YubiKeyAuthenticatorPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

moved checkConsoleMessages
  test/testcafe/framework/page-objects/YubiKeyAuthenticatorPageObject.js
  test/testcafe/spec/AuthenticatorYubikeyView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

moved InfoSection component into Form
  src/v3/src/components/Form/Form.tsx
  src/v3/src/components/Widget/index.tsx
  src/v3/src/types/context.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

refactored getErrorBoxText
  test/testcafe/framework/page-objects/YubiKeyAuthenticatorPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/AuthenticatorYubikeyView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update snapshots
  src/v3/test/integration/__snapshots__/authenticator-enroll-security-question.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-verification-email.test.tsx.snap
  src/v3/test/integration/__snapshots__/enroll-profile-new-additional-fields.test.tsx.snap
  src/v3/test/integration/__snapshots__/enroll-profile-update-required-field.test.tsx.snap
  src/v3/test/integration/__snapshots__/enroll-profile-update.test.tsx.snap
  src/v3/test/integration/__snapshots__/identify-with-password.test.tsx.snap
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

chore: add more specific error message for failed webfinger request
  packages/@okta/i18n/src/properties/login.properties
  src/v1/models/IDPDiscovery.js
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta, @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

add pseudo-loc string
  packages/@okta/i18n/src/properties/login_ok_PL.properties
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta

fix: Turns off spellcheck on password field when toggled to input mode
  packages/@okta/courage-dist/esm/src/courage/views/forms/inputs/PasswordBox.js
  packages/@okta/courage-for-signin-widget/package.json
  packages/@okta/courage-for-signin-widget/yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update test assertion
  test/unit/spec/v1/IDPDiscovery_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fix: Turns off spellcheck on password field in input mode
  packages/@okta/courage-dist/esm/src/courage/views/components/BaseDropDown.js
  packages/@okta/courage-dist/esm/src/courage/views/forms/inputs/PasswordBox.js
  packages/@okta/courage-for-signin-widget/package.json
  packages/@okta/courage-for-signin-widget/yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta
