Repository okta/okta-signin-widget, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta, @nikhilvenkatraman-okta, @zihanwang-okta, @mauriciocastillosilva-okta

.github/CODEOWNERS:

# Description:
#  Code ownership file for the okta/okta-signin-widget GitHub repository for mapping resources to teams.
#  See [CODEOWNERS] for details.
#
#   TODO: Instead of listing out owners by their GitHub handle,
#         we should leverage the [Widget] team. See: OKTA-366873
#
# Resources
#  - [CODEOWNERS] https://help.github.com/articles/about-codeowners
#  - [Widget] https://github.com/orgs/okta/teams/widget-contributors/members

#   FIXME: revert codeowners before merging back to main branch
*    @glenfannin-okta @leemchale-okta @lesterchoi-okta @shawyu-okta @shuowu-okta

# Localization: pseudo-loc, i18n, etc.
packages/@okta/pseudo-loc/    @nikhilvenkatraman-okta @zihanwang-okta
packages/@okta/i18n/          @nikhilvenkatraman-okta @mauriciocastillosilva-okta @zihanwang-okta
test/testcafe/spec-en-leaks/  @nikhilvenkatraman-okta @zihanwang-okta

# SIW Next (v3)
src/v3/                       @glenfannin-okta @leemchale-okta @lesterchoi-okta @shawyu-okta @shuowu-okta

PR Feedback updates
  test/testcafe/framework/page-objects/EnrollProfileViewPageObject.js
  test/testcafe/spec/EnrollProfileView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Fixing spec test for v3
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/EnrollProfileView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Snapshot updates
  src/v3/test/integration/__snapshots__/authenticator-enroll-password-requirements-not-met.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password-with-enrollment-authenticator.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expiry-warning-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-reset-password.test.tsx.snap
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fix: allow autocomplete of usernames
  src/v2/view-builder/views/IdentifierView.js
  src/v2/view-builder/views/IdentifyRecoveryView.js
  test/unit/spec/v2/view-builder/views/IdentifierView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

cleanup
  src/v3/src/components/Select/Select.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

add remediation type and map to view
  playground/mocks/config/responseConfig.js
  playground/mocks/data/idp/idx/authenticator-pre-enroll-email-emailmagiclink-true.json
  playground/mocks/data/idp/idx/authenticator-pre-enroll-email.json
  src/v2/ion/RemediationConstants.js
  src/v2/view-builder/ViewFactory.ts
  test/testcafe/spec/PreEnrollAuthenticatorEmail_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update mapping and tests
  playground/mocks/config/responseConfig.js
  playground/mocks/data/idp/idx/authenticator-enroll-email-first-emailmagiclink-true.json
  playground/mocks/data/idp/idx/authenticator-enroll-email-first.json
  src/v2/ion/RemediationConstants.js
  src/v2/view-builder/ViewFactory.ts
  test/testcafe/spec/EnrollAuthenticatorEmailFirst_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update tests
  test/testcafe/spec/EnrollAuthenticatorEmailFirst_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-509008 : Enroll profile view parity spec (#2889)
  playground/mocks/data/idp/idx/enroll-profile-with-password.json
  src/v3/src/components/Form/renderers.tsx
  src/v3/src/components/PasswordRequirements/PasswordRequirements.tsx
  src/v3/src/components/Radio/Radio.tsx
  src/v3/src/components/Select/Select.tsx
  src/v3/src/transformer/profile/transformEnrollProfile.test.ts
  src/v3/src/transformer/profile/transformEnrollProfile.ts
  src/v3/src/transformer/uischema/transform.ts
  src/v3/test/integration/__snapshots__/authenticator-enroll-password-requirements-not-met.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password-with-enrollment-authenticator.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expiry-warning-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-reset-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/enroll-profile-new-additional-fields.test.tsx.snap
  src/v3/test/integration/enroll-profile-new-additional-fields.test.tsx
  test/testcafe/framework/page-objects/EnrollProfileViewPageObject.js
  test/testcafe/framework/page-objects/IdentityPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/EnrollProfileView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Add remediation type and map to view for SSR email verification first when required (#2873)
  playground/mocks/config/responseConfig.js
  playground/mocks/data/idp/idx/authenticator-enroll-email-first-emailmagiclink-true.json
  playground/mocks/data/idp/idx/authenticator-enroll-email-first.json
  src/v2/view-builder/ViewFactory.ts
  test/testcafe/spec/EnrollAuthenticatorEmailFirst_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

feat: Adds checkbox to Reset Password page to revoke all sessions
  packages/@okta/i18n/src/properties/login.properties
  playground/mocks/data/api/v1/authn/recovery-answer.json
  src/models/Settings.ts
  src/v1/controllers/PasswordResetController.js
  test/testcafe/framework/page-objects-v1/ResetPasswordPageObject.js
  test/testcafe/spec/v1/ResetPassword_spec.js
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta, @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

docs: Updates classic docs with showSessionRevocation feature flag
  docs/classic.md
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-509004 - Challenge password authenticator v3 parity spec
  test/testcafe/framework/page-objects/BasePageObject.js
  test/testcafe/framework/page-objects/ChallengeFactorPageObject.js
  test/testcafe/framework/page-objects/ChallengePasswordPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/ChallengeAuthenticatorPassword_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

chore: translations for login.properties
  packages/@okta/i18n/src/properties/login_cs.properties
  packages/@okta/i18n/src/properties/login_da.properties
  packages/@okta/i18n/src/properties/login_de.properties
  packages/@okta/i18n/src/properties/login_el.properties
  packages/@okta/i18n/src/properties/login_es.properties
  packages/@okta/i18n/src/properties/login_fi.properties
  packages/@okta/i18n/src/properties/login_fr.properties
  packages/@okta/i18n/src/properties/login_hu.properties
  packages/@okta/i18n/src/properties/login_id.properties
  packages/@okta/i18n/src/properties/login_it.properties
  packages/@okta/i18n/src/properties/login_ja.properties
  packages/@okta/i18n/src/properties/login_ko.properties
  packages/@okta/i18n/src/properties/login_ms.properties
  packages/@okta/i18n/src/properties/login_nb.properties
  packages/@okta/i18n/src/properties/login_nl_NL.properties
  packages/@okta/i18n/src/properties/login_pl.properties
  packages/@okta/i18n/src/properties/login_pt_BR.properties
  packages/@okta/i18n/src/properties/login_ro.properties
  packages/@okta/i18n/src/properties/login_ru.properties
  packages/@okta/i18n/src/properties/login_sv.properties
  packages/@okta/i18n/src/properties/login_th.properties
  packages/@okta/i18n/src/properties/login_tr.properties
  packages/@okta/i18n/src/properties/login_uk.properties
  packages/@okta/i18n/src/properties/login_vi.properties
  packages/@okta/i18n/src/properties/login_zh_CN.properties
  packages/@okta/i18n/src/properties/login_zh_TW.properties
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta

Moves formExists check to BasePageObject
  test/testcafe/framework/page-objects/BasePageObject.js
  test/testcafe/framework/page-objects/ChallengePasswordPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/ChallengeAuthenticatorPassword_spec.js
  test/testcafe/spec/IdentifyRecovery_spec.js
  test/testcafe/spec/IdentifyUnknownUser_spec.js
  test/testcafe/spec/IdentifyWithRememberUsername_spec.js
  test/testcafe/spec/Identify_spec.js
  test/testcafe/spec/Interact_spec.js
  test/testcafe/spec/Introspect_spec.js
  test/testcafe/spec/ReEnrollAuthenticatorPasswordView_spec.js
  test/testcafe/spec/ReEnrollAuthenticatorWarningPasswordView_spec.js
  test/testcafe/spec/RequestActivationEmail_spec.js
  test/testcafe/spec/ResetAuthenticatorPasswordView_spec.js
  test/testcafe/spec/Smoke_spec.js
  test/testcafe/spec/TerminalView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Addresses Glen's comment
  test/testcafe/framework/page-objects/components/BaseFormObject.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-509004 - Challenge password authenticator v3 parity spec (#2927)
  test/testcafe/framework/page-objects/BasePageObject.js
  test/testcafe/framework/page-objects/ChallengeFactorPageObject.js
  test/testcafe/framework/page-objects/ChallengePasswordPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/ChallengeAuthenticatorPassword_spec.js
  test/testcafe/spec/IdentifyRecovery_spec.js
  test/testcafe/spec/IdentifyUnknownUser_spec.js
  test/testcafe/spec/IdentifyWithRememberUsername_spec.js
  test/testcafe/spec/Identify_spec.js
  test/testcafe/spec/Interact_spec.js
  test/testcafe/spec/Introspect_spec.js
  test/testcafe/spec/ReEnrollAuthenticatorPasswordView_spec.js
  test/testcafe/spec/ReEnrollAuthenticatorWarningPasswordView_spec.js
  test/testcafe/spec/RequestActivationEmail_spec.js
  test/testcafe/spec/ResetAuthenticatorPasswordView_spec.js
  test/testcafe/spec/Smoke_spec.js
  test/testcafe/spec/TerminalView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Initial implementation for enabling the PIV button with divider and synthetic form switching action
  src/v3/src/components/Button/Button.tsx
  src/v3/src/components/Divider/Divider.tsx
  src/v3/src/transformer/button/getButtonControls.ts
  src/v3/src/transformer/button/transform.test.ts
  src/v3/src/transformer/button/transform.ts
  src/v3/src/transformer/button/transformCancelButton.ts
  src/v3/src/transformer/button/transformForgotPasswordButton.ts
  src/v3/src/transformer/button/transformIDPButtons.ts
  src/v3/src/transformer/button/transformRegisterButton.ts
  src/v3/src/transformer/button/transformReturnToAuthenticatorListButton.ts
  src/v3/src/transformer/button/transformSubmitButton.ts
  src/v3/src/transformer/button/transformUnlockAccountButton.ts
  src/v3/src/transformer/button/transformVerifyWithOtherButton.ts
  src/v3/src/transformer/profile/transformEnrollProfile.ts
  src/v3/src/types/schema.ts
  src/v3/src/types/widget.ts
  src/v3/test/integration/__snapshots__/enroll-profile-new.test.tsx.snap
  src/v3/test/integration/__snapshots__/identify-with-password.test.tsx.snap
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Lint fixes
  src/v3/src/transformer/layout/piv/index.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-547019 : integrating PIV/CAC layout transformer
  src/v3/src/components/AuthCoin/AuthCoinConfig.ts
  src/v3/src/components/AuthHeader/AuthHeader.tsx
  src/v3/src/components/Form/renderers.tsx
  src/v3/src/components/PIVButton/PIVButton.tsx
  src/v3/src/components/PIVButton/index.tsx
  src/v3/src/mocks/response/idp/idx/introspect/identify-with-piv-cac.json
  src/v3/src/mocks/scenario/authenticator-piv-cac-verification.ts
  src/v3/src/mocks/scenario/index.ts
  src/v3/src/transformer/button/transform.test.ts
  src/v3/src/transformer/button/transform.ts
  src/v3/src/transformer/button/transformIDPButtons.ts
  src/v3/src/transformer/layout/idxTransformerMapping.ts
  src/v3/src/transformer/layout/piv/__snapshots__/transformPIVAuthenticator.test.ts.snap
  src/v3/src/transformer/layout/piv/index.ts
  src/v3/src/transformer/layout/piv/transformPIVAuthenticator.test.ts
  src/v3/src/transformer/layout/piv/transformPIVAuthenticator.ts
  src/v3/src/types/schema.ts
  src/v3/src/types/widget.ts
  src/v3/src/util/idxUtils.ts
  src/v3/test/integration/__snapshots__/authenticator-piv-cac-verification.test.tsx.snap
  src/v3/test/integration/authenticator-piv-cac-verification.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

PR Feedback updates
  src/v3/src/components/Button/Button.tsx
  src/v3/src/components/Checkbox/Checkbox.tsx
  src/v3/src/components/InputPassword/InputPassword.tsx
  src/v3/src/components/InputText/InputText.tsx
  src/v3/src/components/PIVButton/PIVButton.tsx
  src/v3/src/components/Radio/Radio.tsx
  src/v3/src/components/Select/Select.tsx
  src/v3/src/components/WebAuthNSubmitButton/WebAuthNSubmitButton.tsx
  src/v3/src/util/getTranslation.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

PR Feedback updates
  src/v3/src/components/PIVButton/PIVButton.tsx
  src/v3/src/transformer/button/transformIDPButtons.ts
  src/v3/src/transformer/layout/piv/transformPIVAuthenticator.test.ts
  src/v3/src/transformer/layout/piv/transformPIVAuthenticator.ts
  src/v3/src/types/schema.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

PR Feedback update - adding tests
  src/v3/src/components/PIVButton/PIVButton.test.tsx
  src/v3/src/components/PIVButton/PIVButton.tsx
  src/v3/src/transformer/button/__snapshots__/transformIDPButtons.test.ts.snap
  src/v3/src/transformer/button/transformIDPButtons.test.ts
  src/v3/src/transformer/button/transformIDPButtons.ts
  src/v3/src/transformer/layout/piv/__snapshots__/transformPIVAuthenticator.test.ts.snap
  src/v3/test/integration/__snapshots__/enroll-profile-new-additional-fields.test.tsx.snap
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Lint clean up
  src/v3/src/components/AuthHeader/AuthHeader.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Adding ticket to ts-ignore
  src/v3/src/transformer/layout/email/emailChallengeTransformer.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Disabled email magic link implementation
  src/v3/src/mocks/scenario/authenticator-verification-email-magiclink-false.ts
  src/v3/src/mocks/scenario/index.ts
  src/v3/src/transformer/layout/email/__snapshots__/emailChallengeTransformer.test.ts.snap
  src/v3/src/transformer/layout/email/emailChallengeTransformer.test.ts
  src/v3/src/transformer/layout/email/emailChallengeTransformer.ts
  src/v3/src/util/getCurrentAuthenticator.ts
  src/v3/src/util/index.ts
  src/v3/test/integration/authenticator-verification-email.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Fixing failing test
  src/v3/test/integration/__snapshots__/authenticator-verification-email.test.tsx.snap
  src/v3/test/integration/authenticator-verification-email.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

updating variable name
  src/v3/src/transformer/layout/email/emailChallengeTransformer.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

clean up
  src/v3/src/transformer/layout/email/emailChallengeTransformer.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Bacon distance fix
  src/v3/src/transformer/layout/email/emailChallengeTransformer.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

variable update
  src/v3/src/transformer/layout/email/emailChallengeTransformer.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

run yarn upgrade
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-551068 : Disabled email magic link implementation (#2924)
  src/v3/src/mocks/scenario/authenticator-verification-email-magiclink-false.ts
  src/v3/src/mocks/scenario/index.ts
  src/v3/src/transformer/layout/email/__snapshots__/emailChallengeTransformer.test.ts.snap
  src/v3/src/transformer/layout/email/emailChallengeTransformer.test.ts
  src/v3/src/transformer/layout/email/emailChallengeTransformer.ts
  src/v3/src/util/getCurrentAuthenticator.ts
  src/v3/src/util/index.ts
  src/v3/test/integration/__snapshots__/authenticator-verification-email.test.tsx.snap
  src/v3/test/integration/authenticator-verification-email.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-534451: re-run yarn upgrade (#2934)
  yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta
