Repository okta/okta-signin-widget, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta, @nikhilvenkatraman-okta, @zihanwang-okta, @mauriciocastillosilva-okta

fix: Turns off spellcheck on password field in input mode (#2918)
  packages/@okta/courage-dist/esm/src/courage/views/components/BaseDropDown.js
  packages/@okta/courage-dist/esm/src/courage/views/forms/inputs/PasswordBox.js
  packages/@okta/courage-for-signin-widget/package.json
  packages/@okta/courage-for-signin-widget/yarn.lock
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-546292 : Yubikey OTP implementation (#2913)
  src/v3/src/components/Form/Form.tsx
  src/v3/src/components/ImageWithText/ImageWithText.tsx
  src/v3/src/components/Widget/index.tsx
  src/v3/src/img/yubikeyDemo.svg
  src/v3/src/transformer/layout/idxTransformerMapping.ts
  src/v3/src/transformer/yubikey/__snapshots__/transformYubikeyOtpAuthenticator.test.ts.snap
  src/v3/src/transformer/yubikey/index.ts
  src/v3/src/transformer/yubikey/transformYubikeyOtpAuthenticator.test.ts
  src/v3/src/transformer/yubikey/transformYubikeyOtpAuthenticator.ts
  src/v3/src/types/context.ts
  src/v3/src/types/schema.ts
  src/v3/src/util/getAuthenticatorMethod.ts
  src/v3/src/util/getEventContext.ts
  src/v3/test/integration/__snapshots__/authenticator-enroll-security-question.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-enroll-yubikey-otp.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-verification-email.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-verification-yubikey-otp.test.tsx.snap
  src/v3/test/integration/__snapshots__/enroll-profile-new-additional-fields.test.tsx.snap
  src/v3/test/integration/__snapshots__/enroll-profile-update-required-field.test.tsx.snap
  src/v3/test/integration/__snapshots__/enroll-profile-update.test.tsx.snap
  src/v3/test/integration/__snapshots__/identify-with-password.test.tsx.snap
  src/v3/test/integration/authenticator-enroll-yubikey-otp.test.tsx
  src/v3/test/integration/authenticator-verification-yubikey-otp.test.tsx
  test/testcafe/framework/page-objects/YubiKeyAuthenticatorPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/AuthenticatorYubikeyView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Removed if condition that use the wording that contains masked email based on if email exists
  src/v2/view-builder/views/email/AuthenticatorEmailViewUtil.js
  src/v2/view-builder/views/email/ChallengeAuthenticatorDataEmailView.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-509021 - Enroll password authenticator v3 parity spec
  playground/mocks/data/idp/idx/authenticator-enroll-password.json
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/EnrollAuthenticatorPasswordView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-509021 - Enroll password authenticator v3 parity spec
  playground/mocks/data/idp/idx/authenticator-enroll-password.json
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/EnrollAuthenticatorPasswordView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

enforce csp policy in testcafe/wdio and add negative test for style-src
  test/app/src/TestApp.ts
  test/app/webpack.config.js
  test/e2e/README.md
  test/e2e/features/basic.feature
  test/e2e/features/csp.feature
  test/e2e/page-objects/test-app.page.js
  test/e2e/steps/then.ts
  test/e2e/steps/when.ts
  webpack.playground.config.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Fixed tests
  test/testcafe/spec/ChallengeAuthenticatorEmail_spec.js
  test/testcafe/spec/EnrollAuthenticatorEmail_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Fixed errors found by lint
  test/testcafe/spec/ChallengeAuthenticatorEmail_spec.js
  test/testcafe/spec/EnrollAuthenticatorEmail_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Addresses Shaw and Glen's comments
  playground/mocks/data/idp/idx/authenticator-enroll-password.json
  test/testcafe/spec/EnrollAuthenticatorPasswordView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Update webfinger error message (#2917)
  packages/@okta/i18n/src/properties/login.properties
  packages/@okta/i18n/src/properties/login_ok_PL.properties
  src/v1/models/IDPDiscovery.js
  test/unit/spec/v1/IDPDiscovery_spec.js
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta, @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Removed unused property
  packages/@okta/i18n/src/properties/login.properties
Owners: @nikhilvenkatraman-okta, @mauriciocastillosilva-okta, @zihanwang-okta

Fixes bacon failures
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/EnrollAuthenticatorPasswordView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Add exception for style-src-elem (colors.brand)
  test/app/webpack.config.js
  test/e2e/features/csp.feature
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

OKTA-509021 - Enroll password authenticator v3 parity spec (#2923)
  playground/mocks/data/idp/idx/authenticator-enroll-password.json
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/EnrollAuthenticatorPasswordView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Update csp.feature
  test/e2e/features/csp.feature
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Update csp.feature
  test/e2e/features/csp.feature
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fixes CSP issue in Util.js, adds tests (#2925)
  src/util/Util.js
  test/app/src/TestApp.ts
  test/app/webpack.config.js
  test/e2e/README.md
  test/e2e/features/basic.feature
  test/e2e/features/csp.feature
  test/e2e/page-objects/test-app.page.js
  test/e2e/steps/then.ts
  test/e2e/steps/when.ts
  test/testcafe/framework/page-objects/IdentityPageObject.js
  test/testcafe/spec/IdentifyWithThirdPartyIdps_spec.js
  webpack.playground.config.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

adds password match component
  playground/mocks/data/idp/idx/authenticator-enroll-password.json
  src/v3/src/components/Form/renderers.tsx
  src/v3/src/components/PasswordRequirements/PasswordMatches.tsx
  src/v3/src/transformer/password/transformEnrollPasswordAuthenticator.ts
  src/v3/src/types/schema.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

use translations instead of hardcoded
  src/v3/src/components/PasswordRequirements/PasswordMatches.tsx
  src/v3/src/transformer/password/transformEnrollPasswordAuthenticator.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update snapshots
  src/v3/src/transformer/password/__snapshots__/transformEnrollPasswordAuthenticator.test.ts.snap
  src/v3/src/transformer/password/__snapshots__/transformExpiredPasswordAuthenticator.test.ts.snap
  src/v3/src/transformer/password/__snapshots__/transformExpiredPasswordWarningAuthenticator.test.ts.snap
  src/v3/src/transformer/password/__snapshots__/transformResetPasswordAuthenticator.test.ts.snap
  src/v3/test/integration/__snapshots__/authenticator-enroll-password-requirements-not-met.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password-no-complexity.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password-with-enrollment-authenticator.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expiry-warning-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-reset-password.test.tsx.snap
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update unit tests
  src/v3/src/transformer/password/transformEnrollPasswordAuthenticator.test.ts
  src/v3/src/transformer/password/transformExpiredPasswordAuthenticator.test.ts
  src/v3/src/transformer/password/transformExpiredPasswordWarningAuthenticator.test.ts
  src/v3/src/transformer/password/transformResetPasswordAuthenticator.test.ts
  src/v3/test/integration/__snapshots__/authenticator-expired-password-no-complexity.test.tsx.snap
  src/v3/test/integration/authenticator-expired-password-no-complexity.test.tsx
  src/v3/test/integration/authenticator-expired-password.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

lint
  src/v3/src/components/PasswordRequirements/PasswordMatches.tsx
  src/v3/src/transformer/password/transformEnrollPasswordAuthenticator.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

fix transform test
  src/v3/src/transformer/i18n/transform.test.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

use translations transformer to add text
  src/v3/src/components/PasswordRequirements/PasswordMatches.tsx
  src/v3/src/transformer/i18n/transform.ts
  src/v3/src/transformer/i18n/transformPasswordMatches.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update data-se value
  src/v3/src/components/PasswordRequirements/PasswordMatches.tsx
  src/v3/test/integration/__snapshots__/authenticator-enroll-password-requirements-not-met.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password-no-complexity.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password-with-enrollment-authenticator.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expiry-warning-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-reset-password.test.tsx.snap
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update testcafe tests to select on password match check
  test/testcafe/framework/page-objects/FactorEnrollPasswordPageObject.js
  test/testcafe/spec/ReEnrollAuthenticatorPasswordView_spec.js
  test/testcafe/spec/ReEnrollAuthenticatorWarningPasswordView_spec.js
  test/testcafe/spec/ResetAuthenticatorPasswordView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

lint
  src/v3/src/components/PasswordRequirements/PasswordMatches.tsx
  src/v3/src/transformer/i18n/transform.ts
  src/v3/src/transformer/i18n/transformPasswordMatches.ts
  src/v3/src/transformer/password/transformEnrollPasswordAuthenticator.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

add live validation for blank to confirmpassword
  src/v3/src/transformer/password/__snapshots__/transformEnrollPasswordAuthenticator.test.ts.snap
  src/v3/src/transformer/password/__snapshots__/transformExpiredPasswordAuthenticator.test.ts.snap
  src/v3/src/transformer/password/__snapshots__/transformExpiredPasswordWarningAuthenticator.test.ts.snap
  src/v3/src/transformer/password/__snapshots__/transformResetPasswordAuthenticator.test.ts.snap
  src/v3/src/transformer/password/transformEnrollPasswordAuthenticator.ts
  src/v3/test/integration/authenticator-expired-password.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update unit tests to check for matches check state
  src/v3/test/integration/authenticator-expired-password.test.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

finish asserting on i18n transformer for passwordmatch
  src/v3/src/transformer/i18n/transform.test.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

reset dataschema in unit test beforeEach
  src/v3/src/transformer/password/__snapshots__/transformResetPasswordAuthenticator.test.ts.snap
  src/v3/src/transformer/password/transformResetPasswordAuthenticator.test.ts
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

update one more testcafe
  test/testcafe/spec/EnrollAuthenticatorPasswordView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

7.0.2 version bump
  README.md
  package.json
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Updates password confirmation match validation (#2920)
  playground/mocks/data/idp/idx/authenticator-enroll-password.json
  src/v3/src/components/Form/renderers.tsx
  src/v3/src/components/PasswordRequirements/PasswordMatches.tsx
  src/v3/src/transformer/i18n/transform.test.ts
  src/v3/src/transformer/i18n/transform.ts
  src/v3/src/transformer/i18n/transformPasswordMatches.ts
  src/v3/src/transformer/password/__snapshots__/transformEnrollPasswordAuthenticator.test.ts.snap
  src/v3/src/transformer/password/__snapshots__/transformExpiredPasswordAuthenticator.test.ts.snap
  src/v3/src/transformer/password/__snapshots__/transformExpiredPasswordWarningAuthenticator.test.ts.snap
  src/v3/src/transformer/password/__snapshots__/transformResetPasswordAuthenticator.test.ts.snap
  src/v3/src/transformer/password/transformEnrollPasswordAuthenticator.test.ts
  src/v3/src/transformer/password/transformEnrollPasswordAuthenticator.ts
  src/v3/src/transformer/password/transformExpiredPasswordAuthenticator.test.ts
  src/v3/src/transformer/password/transformExpiredPasswordWarningAuthenticator.test.ts
  src/v3/src/transformer/password/transformResetPasswordAuthenticator.test.ts
  src/v3/src/types/schema.ts
  src/v3/test/integration/__snapshots__/authenticator-enroll-password-requirements-not-met.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password-no-complexity.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password-with-enrollment-authenticator.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expiry-warning-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-reset-password.test.tsx.snap
  src/v3/test/integration/authenticator-expired-password-no-complexity.test.tsx
  src/v3/test/integration/authenticator-expired-password.test.tsx
  test/testcafe/framework/page-objects/FactorEnrollPasswordPageObject.js
  test/testcafe/spec/EnrollAuthenticatorPasswordView_spec.js
  test/testcafe/spec/ReEnrollAuthenticatorPasswordView_spec.js
  test/testcafe/spec/ReEnrollAuthenticatorWarningPasswordView_spec.js
  test/testcafe/spec/ResetAuthenticatorPasswordView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

7.0.2 version bump (#2926)
  README.md
  package.json
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Enaable enroll profile view spec
  playground/mocks/data/idp/idx/enroll-profile-with-password.json
  src/v3/src/components/Form/renderers.tsx
  src/v3/src/components/PasswordRequirements/PasswordRequirements.tsx
  src/v3/src/components/Radio/Radio.tsx
  src/v3/src/components/Select/Select.tsx
  src/v3/src/transformer/profile/__snapshots__/transformEnrollProfile.test.ts.snap
  src/v3/src/transformer/profile/transformEnrollProfile.ts
  src/v3/src/transformer/uischema/transform.ts
  src/v3/test/integration/__snapshots__/authenticator-enroll-password-requirements-not-met.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password-with-enrollment-authenticator.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expired-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-expiry-warning-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/authenticator-reset-password.test.tsx.snap
  src/v3/test/integration/__snapshots__/enroll-profile-new-additional-fields.test.tsx.snap
  test/testcafe/framework/page-objects/EnrollProfileViewPageObject.js
  test/testcafe/framework/page-objects/IdentityPageObject.js
  test/testcafe/framework/page-objects/components/BaseFormObject.js
  test/testcafe/spec/EnrollProfileView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Applying test fixes for v3 and other clean up
  src/v3/src/transformer/profile/__snapshots__/transformEnrollProfile.test.ts.snap
  src/v3/src/transformer/profile/transformEnrollProfile.test.ts
  src/v3/src/transformer/profile/transformEnrollProfile.ts
  src/v3/test/integration/enroll-profile-new-additional-fields.test.tsx
  test/testcafe/spec/EnrollProfileView_spec.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Updating snapshots
  src/v3/test/integration/__snapshots__/authenticator-enroll-password-requirements-not-met.test.tsx.snap
  src/v3/test/integration/__snapshots__/enroll-profile-new-additional-fields.test.tsx.snap
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Re-using existing functions
  test/testcafe/framework/page-objects/EnrollProfileViewPageObject.js
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

Updating component label to only use from translations prop
  src/v3/src/components/Radio/Radio.tsx
  src/v3/src/components/Select/Select.tsx
Owners: @glenfannin-okta, @leemchale-okta, @lesterchoi-okta, @shawyu-okta, @shuowu-okta

.github/CODEOWNERS:

# Description:
#  Code ownership file for the okta/okta-signin-widget GitHub repository for mapping resources to teams.
#  See [CODEOWNERS] for details.
#
#   TODO: Instead of listing out owners by their GitHub handle,
#         we should leverage the [Widget] team. See: OKTA-366873
#
# Resources
#  - [CODEOWNERS] https://help.github.com/articles/about-codeowners
#  - [Widget] https://github.com/orgs/okta/teams/widget-contributors/members

#   FIXME: revert codeowners before merging back to main branch
*    @glenfannin-okta @leemchale-okta @lesterchoi-okta @shawyu-okta @shuowu-okta

# Localization: pseudo-loc, i18n, etc.
packages/@okta/pseudo-loc/    @nikhilvenkatraman-okta @zihanwang-okta
packages/@okta/i18n/          @nikhilvenkatraman-okta @mauriciocastillosilva-okta @zihanwang-okta
test/testcafe/spec-en-leaks/  @nikhilvenkatraman-okta @zihanwang-okta

# SIW Next (v3)
src/v3/                       @glenfannin-okta @leemchale-okta @lesterchoi-okta @shawyu-okta @shuowu-okta
